h1 {
    font-family: 'clearSansRegular';
    font-size: 50px;
    color: #E9E9E9;
}
h2 {
    font-family: 'clearSansRegular';
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #E9E9E9;
}
.height{
    /*height: 60px !important;*/
    min-height: 85px !important;
}
.navbar-default {
    background-color: #222930;
}
.navbar-default .navbar-nav>.active>a{
    background-color: #4EB1BA;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'clearSansBold';
    font-size: 20px;
    padding-top: 30px;
    color: #4EB1BA;
}
.navbar-default .navbar-nav>li>a:hover {
    font-family: 'clearSansBold';
    font-size: 20px;
    color: #E9E9E9;
    background-color: #4EB1BA;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #222930;
    font-family: 'clearSansRegular';
    color: #E9E9E9;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
#body {
    padding-bottom: 75px;
    /* Height of the footer element */
}
#footer {
    background: #4EB1BA;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    left: 0;
}
@font-face {
    font-family: 'clearSansRegular';
    src: url("fonts/ClearSans-Regular.woff");
}
@font-face {
    font-family: 'clearSansBold';
    src: url("fonts/ClearSans-Bold.woff");
}
