h1 {
    font-family: 'clearSansRegular';
    font-size: 50px;
    color: #E9E9E9;
}
h2 {
    font-family: 'clearSansRegular';
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #E9E9E9;
}
.height{
    /*height: 60px !important;*/
    min-height: 85px !important;
}
.footBlock{
    /*width: 18%*/
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: block;
    float: left;
    /*position: relative;*/
    margin-left: 20px;
}
#trademark{
    float: right;
    /*position: absolute;*/
    /*bottom: 0;
    right: 0;*/
    padding-top: 55px;
    padding-bottom: 0px;
    margin-right: 5px;
    font-size: 10px;
}
.navbar-default {
    background-color: #222930;
}
.navbar-default .navbar-nav>.active>a{
    background-color: #4EB1BA;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'clearSansBold';
    font-size: 20px;
    padding-top: 30px;
    color: #4EB1BA;
}
.navbar-default .navbar-nav>li>a:hover {
    font-family: 'clearSansBold';
    font-size: 20px;
    color: #E9E9E9;
    background-color: #4EB1BA;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #222930;
    font-family: 'clearSansRegular';
    color: #E9E9E9;
}
#body-image {
    text-align: left;
    padding-left: 30px;
    display:inline-block;
}

#body-text {
    text-align: center;
    max-width: 80%;
    display: inline-block;
    font-size: 23px;
}
#selfie {
    text-align: left;
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 50%;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
#body {
    text-align: center;
    /* Height of the footer element */
    padding-bottom: 80px;
}
#footer {
    background: #4EB1BA;
    /*text-align: center;*/
    width:100%;
	height:80px;
    padding-bottom: 0px;
	position: absolute;
	bottom:0;
	left:0;
}
@font-face {
    font-family: 'clearSansRegular';
    src: url("fonts/ClearSans-Regular.woff");
}
@font-face {
    font-family: 'clearSansBold';
    src: url("fonts/ClearSans-Bold.woff");
}
